.App {
  text-align: center;
  background-color: #395B64;
}
h1, h2, p{
  color: #E7F6F2 !important
}

.location-search-input {
  width:50%;
  height: 20%
}

.gm-style{
  padding-left: 1%;
  padding-right: 1%;
}